<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GeoAyto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>App para obtener tu GPS</strong>
    <p>Repositorio GitHub: <a target="_blank" rel="noopener noreferrer" href="https://github.com/desarrollo-aytobadajoz/geoayto">GEOAYTO</a></p>
  </div>
</ion-content>
