<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      GeoAyto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>App para obtener tu GPS</strong>
    <p>Repositorio GitHub: <a target="_blank" rel="noopener noreferrer" href="https://github.com/desarrollo-aytobadajoz/geoayto">GEOAYTO</a></p>
    <strong>Datos de ubicación</strong>
    <p>La latitud es: {{latitud}}</p>
    <p>La longitud es: {{longitud}}</p>
    <p>La precision es: {{precision}}</p>
    <p>La altitud es: {{altitud}}</p>
    <p>La precisión de la altitud es: {{altitudPrecision}}</p>
    <p>La velocidad es: {{velocidad}}</p>
    <p>La cabecera es: {{cabecera}}</p>
  </div>
</ion-content>
